.signup {
    background-color: #fff;
    border-radius: 6px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    padding: 20px;
    width: 100%;
  }
  
  .signup-header {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .signup-header h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }
  
  .signup-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-group input {
    border: none;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    padding: 10px;
  }
  
  button[type="submit"] {
    background-color:lightblue;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    transition: background-color 0.2s ease-in-out;
  }
  
  button[type="submit"]:hover {
    background-color: #4f84bd;
  }

  .success-message {
    background-color: #28a745;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    max-width: 370px;
    border-radius: 20px;
    margin-left: 23px;
  }

  .error-message {
    background-color: #700f02;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    max-width: 370px;
    border-radius: 20px;
    margin-left: 23px;
  }