.header {
  width: 100%;
  height: 100px;
  background-color: lightblue;
  text-align: center;
  margin-top: 0%;
}

body {
  padding: 0%;
  margin: 0%;
}



.mid {
  background-color: rgb(206, 204, 204);
}

.move {
  background-color: darkgray;
  border-radius: 30px;
  font-size: 20px;
  min-width: 100px;
}


.wide {
  min-width: 1000px;
  
}


.wide2 {
  min-width: 1200px;
  
}


.tableHead {
  background-color: darkgray;
  font-weight: 600;
}


table {
  border-collapse: collapse;
  border: 2px solid rgb(200,200,200);
  letter-spacing: 1px;
  font-size: 2rem;
  margin-top: 100px;
  width: 70%;
  min-height: 100px;
}

td, th {
  /* border: 2px solid rgb(173, 172, 172); */
  padding: 10px 20px;
}

td {
  text-align: center;
}


.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main > p {
  text-align: center;
  font-size: xx-large;
}


td, th {
  border: 2px solid rgb(173, 172, 172);
  padding: 10px 20px;
}

td {
  text-align: center;
}


.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

h1 {
  align-self:flex-start;
  margin-left: 300px;
  font-size: 30px;
}



.options {
  align-self: flex-start;
  margin-left: 300px;
  font-size: 25px;
  margin-top: 10px;
}

.set {
  align-self: flex-start;
  margin-left: 15px;
  font-size: 23px;
  margin-top: 10px;
}

.notif {
  margin-left: 300px;
  font-size: 30px;
  background-color: darkgray;
  border-radius: 10px;
  padding: 15px;
  max-width: 600px;
  margin-top: 20px;
}

.yes {
  margin-left: 10px;
  font-size: 20px;
}




table {
  text-align: center;
 
} 







p {
  font-family: 'Bahnschrift', sans-serif;
  color: white;                                            
}

a{
  font-family: 'Bahnschrift', sans-serif;
  color: white; 
  text-decoration: none;
  font-style: bold; 
}


td>a {
  font-family: 'Bahnschrift', sans-serif;
  color:rgb(0, 0, 0); 
  text-decoration: none;
  font-style: bold; 
}

.change:hover {
  background-color: gray;
}

body{
  margin: 0;
  padding: 0%;
}

h1{
  font-family: 'Bahnschrift', sans-serif;
  color: white; 
}

h3{
  font-family: 'Bahnschrift', sans-serif;
  color: white; 
}

h4{
  font-family: 'Bahnschrift', sans-serif;
  color: white; 
}

h5{
  font-family: 'Bahnschrift', sans-serif;
  color: white; 
}

h6{
  font-family: 'Bahnschrift', sans-serif;
  color: white; 
}

#head{
  background-color: #003573;
  height: 80px;
}

#foot{
  background-color: #003573;
  height: 50px;
  position: fixed;
  bottom: 0;
  width: 100%;
}


#subhead{
  background-color: #88a5c4;
  height: 40px;
}




.group{
  display: flex;
  justify-content: center;
  margin: 0;

}

.group #subbarbtn{
  background-color: transparent; /* Green */
  border: none;
  color: white;
  height: 100%;
  margin: 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin-left: 30px;
  cursor: pointer;
  float: left;

}
.group #subbarbtn:hover{
  background-color: #003573;
}




.dropdown {
  position: relative;
  display: inline-block;
  
}

.dropbtn {
  background-color: transparent;
  color: white;
  size: 5px;
  margin-bottom: 20px;
  border: none;
  cursor: pointer;
}



.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  background-color: grey;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 500px;
  border-bottom: 5px;
  border-color: black;
}


.dropdown:hover .dropdown-content {
  display: block;
}

.logbtn{
  background-color: white;
  height: 32px;
  border: none;
  color: #003573;
  font-size: 10px;
  font-family: 'Bahnschrift', sans-serif;
  font-style: bold;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;

  margin-left: 50px;
}



/* Style the dropdown button text */
.dropdown2 button {
  display: inline-block;
  background-color: transparent;
  color: white;
  font-size: 14px;
  font-style: bold;
  margin-left: 20px;
  margin-bottom: 2px;
  height: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  
        font-family: 'Bahnschrift', sans-serif;
}
.dropdown2:hover button{
  background-color: #003573;
}

/* Style the dropdown content */
.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: grey;
  min-width: 160px;
  z-index: 1;
}

/* Style the options inside the dropdown */
.dropdown-content2 option {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
        font-family: 'Bahnschrift', sans-serif;
      
}

/* Show the dropdown content when the button is clicked */
.dropdown2:hover .dropdown-content2 {
  display: block;
  
}
.dropdown-content2 option:hover{
  background-color: darkgray;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}


